<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ru.monkeys.monkeyapp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/NoActionBar"
            android:hardwareAccelerated="false"
            android:largeHeap="true"
            android:name=".app.MonkeyApp">

        <meta-data android:name="com.facebook.sdk.ApplicationId"
                   android:value="@string/facebook_app_id"/>

        <meta-data
                android:name="com.facebook.sdk.CodelessDebugLogEnabled"
                android:value="true"/>

        <activity android:name=".utils.BaseActivity"/>
        <activity android:name=".screens.main.MainActivity"
                  android:screenOrientation="landscape"/>
        <activity android:name=".screens.game.LevelsActivity"
                  android:screenOrientation="landscape"/>
        <activity android:name=".screens.main.SplashActivity"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".screens.web.WebViewActivity"/>
        <activity android:name=".screens.deeplink.DeepLinkActivity"
                  android:theme="@style/NoUiAppTheme"
                  android:launchMode="singleTask"
                  android:windowSoftInputMode="stateHidden|adjustResize"
        >

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                        android:scheme="mfbcas"
                        android:host="screen"
                />
                <data
                        android:scheme="https"
                        android:host="m.fbcas.com"
                        android:pathPattern="/..*"
                />

            </intent-filter>
        </activity>
        <activity android:name=".screens.game.LvlOneActivity"
                  android:screenOrientation="landscape"/>
        <activity android:name=".screens.game.LvlTwoActivity"
                  android:screenOrientation="landscape"/>
        <activity android:name=".screens.game.LvlThreeActivity"
                  android:screenOrientation="landscape"/>
        <activity android:name=".screens.main.SettingsActivity"
                  android:screenOrientation="landscape"/>
        <activity android:name=".screens.main.results.ResultsScreen"
                  android:screenOrientation="landscape"/>
        <activity android:name=".screens.game.tictactoe.PlayGameWithComputer"
                  android:screenOrientation="landscape"/>
        <activity android:name=".screens.game.tictactoe.SeriesResult"
                  android:screenOrientation="landscape"/>
    </application>

</manifest>
